<configuration>
    <system.webServer>
    
        
        <rewrite>
            <rules>
                <!--# Redirect to HTTPS with www-->
                <rule name="Imported Rule 1">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <!--# Enable rewrite rules-->
                        <!--## Redirect HTTP to HTTPS with www-->
                        <!--# Only trigger rule if a non-ssl port is being used-->
                        <add input="{SERVER_PORT}" pattern="443" ignoreCase="false" negate="true" />
                        <!--# Extract non-www portion of HTTP_HOST-->
                        <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.{C:2}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.29:00:00" />
        </staticContent>

        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="error.cfm" responseMode="File" />
        </httpErrors>

        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Add security headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>