<configuration>
    <system.webServer>
    
        
        <rewrite>
            <rules>
                <!--# Redirect to HTTPS with www-->
                <rule name="Imported Rule 1">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <!--# Enable rewrite rules-->
                        <!--## Redirect HTTP to HTTPS with www-->
                        <!--# Only trigger rule if a non-ssl port is being used-->
                        <add input="{SERVER_PORT}" pattern="443" ignoreCase="false" negate="true" />
                        <!--# Extract non-www portion of HTTP_HOST-->
                        <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.{C:2}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        


        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="error.cfm" responseMode="File" />
        </httpErrors>

        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Add security headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>